<div>
<!-- <h5>My Config. </h5>
<h6>Please drag and drop the configuration tiles to suit the right order for you.</h6>
    <div class="card-deck" *ngIf="showConfigCart">
        <div >        
            <div *ngFor="let configItem of configItems; let k = index" class="list-group">    
                <div class="list-group-item">                    
                        <span class="text-info">{{configItem.Category}}</span> <span> - </span> <span>{{configItem.Payload}}</span>
                        <div>
                            <a href="#" class="card-link">Remove</a>                           
                        </div>
                </div>
            </div>
        </div>
    </div>-->
<div> 
    <ngx-sortable [items]="configItems" [name]="'My Configuration'" [listStyle]="listStyle" (listSorted)="listSorted($event)">
        <ng-template let-item>
            <div class="sortable-list-item">
               <p class="flow-text">{{item.Category}}</p>
               <p style="font-size:.75em;"><span>Payload: {{item.Payload}}</span></p> 
            </div>
        </ng-template>
    </ngx-sortable>
</div>

    <div class="mt-5">
        <button type="button" class="btn btn-primary text-capitalize"
            [routerLink]="['/appenvironmentdetails']">proceed to details</button>
    </div>
    <div class="mt-3">
        <button type="button" class="btn btn-info text-capitalize"
            [routerLink]="['/']">save for later</button>
    </div>
</div>