ngx-sortable {    
    font-size: 20px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;    
    line-height: 1.7em;
     
    padding: 3px;
    margin-left: 15px; 
}

span {
    width: 90%;        
    margin: 5px auto;
    display: block;           
    height: 30px;
}

 