<form class="pt-5">
    <div class="form-group row">
        <label for="blockSizeList" class="col-sm-2 col-form-label">Block Size List</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="blockSizeList" placeholder="4">
        </div>
    </div>
    <div class="form-group row">
        <label for="driveLetterList" class="col-sm-2 col-form-label">Drive Letter List</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="driveLetterList" placeholder="E">
        </div>
    </div>
    <div class="form-group row">
        <label for="driveLetterList" class="col-sm-2 col-form-label">Label List</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="labelList" placeholder="Data">
        </div>
    </div>
    <div class="form-group row">
        <label for="driveLetterList" class="col-sm-2 col-form-label">Size List</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="sizeList" placeholder="50">
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Add To Payload</button>
        </div>
    </div>
</form>