<div class="mt-3">
<h1>Checkout</h1>
<div class="card">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
        <h4 class="card-title text-primary">Hosts</h4>
        <p class="card-text text-info">Enter Hosts</p>
        <textarea rows="3" class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"></textarea>
        <div class="mt-3">
            <button type="button" class="btn btn-danger" [routerLink]="['/']">Cancel</button>
        </div>        
        <div class="mt-3">
                <button type="button" class="btn btn-success" [routerLink]="['/']">Submit</button>
        </div>        
    </div>
</div>
</div>