<div class="card">
    <div class="card-header">
      Offering List
    </div>
    <div class="card-body">
      <h5 class="card-title">Offerings</h5>
      <p class="card-text">We offer the below utilities to make your job easier!</p>     
      <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" name="" id="">
            </div>
      </div>
       
     <table class="table mt-4">
         <thead>
             <tr>
                 <th>Offering</th>
                 <th>Short Description</th>
                 <th>More Details</th>
             </tr>
         </thead>
         <tbody>
             <!-- <tr>
                 <td scope="row"></td>
                 <td></td>
                 <td></td>
             </tr>
             <tr>
                 <td scope="row"></td>
                 <td></td>
                 <td></td>
             </tr> -->
         </tbody>
     </table>
    </div>
  </div>